.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  align-content: bottom;
  flex-wrap: nowrap;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  height: 10px;
}